@import url('https://fonts.googleapis.com/css2?family=Unlock&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');
.container-fluid {
    margin: 0 auto !important;
    
    width: 100%;
}

body {
    background-color: rgb(214, 199, 199) !important;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 0.7rem;
}

/* h1 {
    color: white;
    font-weight: 400;
    text-align: center;
} */

input{
    padding: 10px;
    width: 300px;
    margin-top: 60px;
    margin-left: 30px;
    border-radius: 5px;
    border: solid 2px maroon;
}

div{
    margin: 10px 0px;
}
.btn{
    background-color: black;
    color: white;
    border: 0px;
    cursor: pointer;
    border-radius: 8px;
}
.btn:hover{
    background-color: navy !important;
    color: white;
}